<div class="nav-div">
        <a href="/" data-no-turbolink><button type="button" class="btn btn-default logo-box"></button>&nbsp;</a>
        <a href="/" data-no-turbolink><button type="button" class="btn btn-default nav-btn">My Work</button></a>
        <a href="/pages/about" data-no-turbolink><button type="button" class="btn btn-default nav-btn">About Me</button></a>
</div>
