<div class='container' style='text-align: center;'>

    <h2>New Enquiry<br><br></h2>
    <div class="container">
        <div class="row row-centered lvl2" style="padding 10px; width: 100%; max-width: 90vw;">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 lv2" style="padding: 10px;">
                <%= render 'form' %>

                <%= link_to 'Back', enquiries_path %>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</div>
